@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@200&family=Red+Rose&display=swap');

h1{
    text-align: center;
    background-image: url("./images/depositphotos_59577853-stock-photo-background-from-leaves-of-pale.jpg");
    font-family: 'Red Rose', cursive;
}
#all{
    display: flex;
    flex-direction: row;
    float: inline-end;
    font-family: 'Grenze Gotisch', cursive;
    background-image: url("./images/download222.jpeg");
}
#name{
    width: 500px;
    border: 15px  rgb(0, 0, 255);
    padding: 50px;
    margin: 20px;
}
#names{
    width: 500px;
    border: 15px  rgb(0, 0, 255);
    padding: 50px;
    margin: 20px;
}
#namees{
    width: 500px;
    border: 15px rgb(0, 0, 255);
    padding: 50px;
    margin: 20px;
}
#for{
    width: 20%;
    color: rgb(0, 0, 255);
    display: flex;

}
.body{
    background-image: url("./images/broo.jpg");
}
