@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');

h1{
    text-align: center;
    background-image: url("./images/depositphotos_59577853-stock-photo-background-from-leaves-of-pale.jpg");
    font-family: 'Red Rose', cursive;
}
#all{
    display: flex;
    flex-direction: row;
    float: inline-end;
}
#name{
    width: 500px;
    border: 15px  brown;
    padding: 50px;
    margin: 20px;
}
#names{
    width: 500px;
    border: 15px  brown;
    padding: 50px;
    margin: 20px;
}
.body{
    background-image: url("./images/ghana2\ \(1\).jpg");
}